<div class="col-md-12">
  <div class="group">
    <%= link_to("New Movie", new_movie_path, class: "btn btn-sm btn-primary") %>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Creator</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
       <% @movies.each do |movie| %>
         <tr>
           <td><%= link_to(movie.title, movie_path(movie))%></td>
           <td><%= movie.description %></td>
           <td><%= movie.user.email %></td>
           <td>
                             <% if movie.image.present? %>
                                 <%= image_tag(movie.image.thumb.url, class: "thumbnail")%>
                                 <%= link_to("Download Image", movie.image_url)%>
                             <% else %>
                                 <p>No picture </p>
                             <% end %>

           </td>
           <td>
               <%= link_to edit_movie_path(movie), class: "btn btn-sm btn-default" do %>
                 <i class="fa fa-pencil">Edit</i>
               <% end %>
               <%= link_to("Delete", movie_path(movie), method: :delete, class: "btn btn-xs btn-default", data: {confirm: "Are you sure? "}) %>
           </td>
         </tr>
       <% end %>
    </tbody>
  </table>
</div>
